{%- doc -%}
  Product count for the collection toolbar bar.

  @param {object} collection - The collection
  @param {number} products_count - Filtered product count
{%- enddoc -%}

{%- liquid
  assign toolbar_products_count = products_count | default: collection.products_count
-%}

<div class="boc-collection-toolbar-bar__meta">
  <div
    class="products-count-wrapper"
    data-testid="products-count"
  >
    <span role="status">
      {% if toolbar_products_count > 25000 %}
        {{- 'content.item_count_cutoff' | t: count: 25000 -}}
      {% else %}
        {{- 'content.item_count' | t: count: toolbar_products_count -}}
      {% endif %}
    </span>
  </div>
</div>
